<footer>
  <div class="container footer-top">
    <div class="footer-col">
      <h3>Partners</h3>
      <ul>
        <li><a href="https://gdg.community.dev/gdg-vienna/">GDG Vienna</a></li>
        <li><a href="https://www.technovation.org/women-techmakers/">Technovation Women Techmakers</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h3>Contacts</h3>
      <ul>
        <li><a href="mailto:team@womentechmakers.at">team@womentechmakers.at</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="/become-a-sponsor/">Become a Sponsor</a></li>
        <li><a href="/cod/">Code of Conduct</a></li>
        <li><a href="/privacy-policy/">Privacy Policy</a></li>
        <li><a href="/archive/">Archive</a></li>
        <li><a href="https://147292833.hs-sites-eu1.com/women-techmakers-vienna">Newsletter</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h3>Social Links</h3>
      <ul>
        <li><a href="https://x.com/WTMVienna">X</a></li>
        <li><a href="https://www.meetup.com/women-techmakers-vienna/">MeetUp</a></li>
        <li><a href="https://www.linkedin.com/company/women-techmakers-vienna/">LinkedIn</a></li>
        <li><a href="https://www.facebook.com/WomenTechmakersVienna/">Facebook</a></li>
        <li><a href="https://www.instagram.com/wtmvienna/">Instagram</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>&copy; 2014-2025. Made with <span class="icon">♥</span> and ♫ by <a href="https://www.linkedin.com/in/juliaundeutsch/">Julia Undeutsch</a> since 2025. All rights reserved.</p>
    </div>
  </div>
</footer>
