<footer>
  <div class="container footer-top">
    <div class="footer-col">
      <h3>Links</h3>
      <ul>
        <li><a href="/about/">GDG Vienna</a></li>
        <li><a href="/team/">Google Developers</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h3>Contacts</h3>
      <ul>
        <li><a href="/services/">Services</a></li>
        <li><a href="/pricing/">Pricing</a></li>
        <li><a href="/faq/">FAQ</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h3>FAQ</h3>
      <ul>
        <li><a href="/cod/">Code of Conduct</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h3>Social Links</h3>
      <ul>
        <li><a href="/contact/">X</a></li>
        <li><a href="/support/">MeetUp</a></li>
        <li><a href="/locations/">Locations</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>&copy; 2014-2025 Made with ♥ and ♫ by <a href="https://www.linkedin.com/in/juliaundeutsch/">Julia Undeutsch</a> · <a href="https://www.accessibilityfirst.at/">Accessibility First</a>. All rights reserved.</p>
    </div>
  </div>
</footer>
