<header>
  <div class="container header-container">
    <div class="logo">
      <img src="/assets/images/logo.png" alt="" width="150" height="60">
    </div>
    <button class="menu-toggle" aria-expanded="false">Menu</button>
    <nav class="nav-links">
      <a href="/">Home</a>
      <a href="/schedule/">Schedule</a>
      <a href="/iwd2025/">IWD2025</a>
      <a href="/wtm2026/">WTM2026</a>
      <a href="/strong-women-in-tech/">Strong Women in Tech</a>
      <a href="/team/">Team</a>
    </nav>
  </div>
</header>
