<header>
  <div class="container header-container">
    <div class="logo">
      <img src="/assets/images/logo.png" alt="" width="150" height="60">
    </div>
    <nav class="nav-links">
      <a href="/">Home</a>
      <a href="/schedule/">Schedule</a>
      <a href="/team/">Team</a>
      <a href="/cod/">Code of Conduct</a>
      <a href="/archive/">Archive</a>
    </nav>
  </div>
</header>
