<header>
  <div class="container header-container">
    <div class="logo">
      <img src="/assets/images/WTM-logos/logo.png" alt="" width="150" height="60">
    </div>
    <button class="menu-toggle" aria-expanded="false">Menu</button>
    <nav class="nav-links">
      <a href="/" {% if page.url == "/" %}aria-current="page"{% endif %}>Home</a>
      <a href="/schedule/" {% if page.url == "/schedule/" %}aria-current="page"{% endif %}>Schedule</a>
      <a href="/iwd2025/" {% if page.url == "/iwd2025/" %}aria-current="page"{% endif %}>IWD2025</a>
      <a href="/wtm2026/" {% if page.url == "/wtm2026/" %}aria-current="page"{% endif %}>WTM2026</a>
      <a href="/strong-women-in-tech/" {% if page.url == "/strong-women-in-tech/" %}aria-current="page"{% endif %}>Strong Women in Tech</a>
      <a href="/team/" {% if page.url == "/team/" %}aria-current="page"{% endif %}>Team</a>
    </nav>
  </div>
</header>
